:root {
    --red: #e75a5a;
    --border: 1px solid rgba(151, 158, 162, 1);
  }

* {
    margin: 0;
    padding: 0;
}



button {
    width: 50px;
    height: 50px;
}

textarea {
    font-size: large;
    vertical-align: bottom;
    box-sizing: border-box;
    height: 50px;
    width: 158px;
    border: var(--border);
}



.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.row {
    user-select: none;
}

textarea.invalid {
    animation: validate 2s;
  }
  
  @keyframes validate {
    0% {
      border: 1px solid var(--red);
    }
  
    50% {
      border: 1px solid var(--red);
    }
  
    100% {
      border: var(--border);
    }
  }